@media only screen and (max-width: 1080px) {
  td {
		display: block;
		max-width: 700px;
		overflow: hidden;
	}
	th { 
		display: none;
	}
	.head {font-weight: bold;}
	.foot {margin-bottom: 20px;}
}
table {
  border-collapse: collapse;
}
td, th {
  border: 2px #DDD solid; padding: 2px; cursor: pointer; text-overflow: ellipsis;
}
